html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefae0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: #d4a373;
  background-color: #faedcd;
  text-align: center;
}

p strong {
  font-size: 24px;
  font-weight: bold;
}

ul {
  font-size: 20px;
  color: #ccd5ae;
}
